<div class="page-header">
	<h1>Charts</h1>
	<small>Analysis the data</small>
</div>



<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Person</a>
  </li>
  <li><a href="#">Life</a></li>
  <li><a href="#">Work</a></li>
  <li><a href="#">Develop</a></li>
</ul>