<div class="page-header">
	<h1>Charts</h1>
	<small>Analysis the data</small>
</div>



<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Single Analysis</a>
  </li>
  <li><a href="#">Combo Analysis</a></li>
</ul>